<%= content_for :meta_title, "Circle - Modifier mon compte" %>


<div class="my-8 text-center"><%= svg_tag 'logo-picto' %></div>
<div class="d-flex mb-9">
  <div class="border-end border-grey container d-flex flex-column align-items-center justify-content-center font-size-16px">
    <h2 class="font-size-32px text-grey-dark mb-4">Modifier mon compte</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs d-flex flex-column gap-2">
      <!--
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        -->
        <%= f.input :email,
                    label: 'Email',
                    required: false,
                    label_html: { class: 'text-grey-blue' },
                    autofocus: true,
                    input_html: { autocomplete: "email", class: 'text-grey' } %>
        <%= f.input :password,
                    hint: "Laissez-le vide si vous ne souhaitez pas le modifier",
                    label: 'Mot de passe',
                    placeholder: '••••••••',
                    required: false,
                    label_html: { class: 'text-grey-blue' },
                    input_html: { autocomplete: "current-password", class: "text-grey" } %>
        <%= f.input :password_confirmation,
                  required: false,
                  label: 'Confirmer la modification du mot de passe',
                  placeholder: '••••••••',
                  label_html: { class: 'text-grey-blue' },
                  input_html: { autocomplete: "new-password", class: "text-grey" } %>
      <%= f.input :current_password,
                  label: 'Confirmer le mot de passe actuel',
                  placeholder: '••••••••',
                  hint: "Nécessaire pour confirmer vos changements",
                  required: true,
                  label_html: { class: 'text-grey-blue' },
                  input_html: { autocomplete: "current-password", class: "text-grey" } %>
      </div>

      <div class="form-actions mt-2">
        <%= f.button :submit, "Sauvegarder", class: 'fw-bolder text-white w-100 btn btn-green' %>
      </div>
    <% end %>
  </div>

  <div class="container text-center border-start border-grey">
    <h2 class="font-size-32px text-grey-dark mb-4">Ma clé API</h2>
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div data-controller="clipboard" data-clipboard-success-content-value="<strong>Copié!</strong>" class="font-size-18px input-group">
          <input type="text" class="form-control text-grey" value="<%= @current_user&.authentication_token || 'Non disponible' %>" data-clipboard-target="source" />
          <button type="button" class="input-group-text" data-action="clipboard#copy" data-clipboard-target="button"><%= svg_tag 'copy' %> <span class="ms-2">Copier</span></button>
        </div>
      </div>
    </div>
  </div>
</div>
